* 
{
    margin: 0;
    padding: 0;
}
body{
    margin: 0px 0px;
}
textarea{
    width: 80%;
    height: 80px;
}
.clearfix{
    clear: both;
}
.container
{
    margin: 0;
    background: #2891cd;
}
header
{
    text-align: center;
    width: 100%;
    height: 150px;
    background: yellow;
    margin: 0 auto;
}
nav{
    justify-content: left;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
    width: 100px;
    height: 700px;
    background:coral;
    float: left;
}
section
{
    justify-content: center;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
    width: 545px;
    height: 700px;
    background: red;
    float: left;
}
aside
{
    justify-content: left;
    margin-right: 0px;
    margin-top: 0px;
    width: 305px;
    height: 700px;
    text-align: center;
    background: green;
    float: left;
}
footer
{
    background: blue;
    width: 100%;
    height: 50;
    margin: 0px 70;
}