<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zalaga</title>
    <link rel="stylesheet" href="css/style1.css">

</head>
<body>
    <div class="container">
        <header>
            <h1>Chat Realtime</h1>
                
        </header>
        <nav>
            <div>
                <ul style="line-height:200%">
                    <li><a href="home">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="register">Sign&nbsp;up</a></li>
                    <li><a href="help">Help</a></li>
                    <li><a href= "room">Room</a></li>
                </ul>
            </div>
        </nav>
        <section>
            <h1>content</h1>
            <article>
                <div class="section">
                    <p>ยินดีต้อนรับสู่เว็บไซต์สำหรับพูดคุยเล่าประสบการณ์และบ่นถึงชีวิตของคุณ</p>
                    <p>เชิญเข้าห้อง แล้วพูดคุยตามสบาย</p>
                </div>
            </article>
            <div class = "top-bar">
                <h1></h1>
            </div>
            <div class = "main">
                <div class = "header">
                </div>
                
                <div class="comments">
                </div>
            </div>
        </section>
        <aside>
            <h1></h1>
        </aside>
        <div class="clearfix"></div>
        <footer>
            <h1>footer</h1>
            <p>&copy;2023 Zalaga.com All right</p>
        </footer>
    </div>
</body>
</html>