@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right, #021B79, #0575E6);
}
.title{
    text-align: center;
}
.card-header{
    text-align: center;
}
